body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

input {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#logoutMetaMask {
    background-color: #dc3545;
}

#logoutMetaMask:hover {
    background-color: #a71d2a;
}

#userDetails {
    background: #e9f7ef;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}
